<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeblegsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeblegsClasses.Properties.Settings>
            <setting name="WeblegsClasses_channeladvisor_OrderService_OrderService"
                serializeAs="String">
                <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v5/OrderService.asmx</value>
            </setting>
            <setting name="WeblegsClasses_channeladvisor_InventoryService_InventoryService"
                serializeAs="String">
                <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v5/InventoryService.asmx</value>
            </setting>
            <setting name="WeblegsClasses_com_prolog3pl_ProWaresService_ProWaresService"
                serializeAs="String">
                <value>http://clientws.prolog3pl.com/ProWaresService.asmx</value>
            </setting>
            <setting name="WeblegsClasses_api_channeladvisor_ShippingService_ShippingService"
                serializeAs="String">
                <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v5/ShippingService.asmx</value>
            </setting>
        </WeblegsClasses.Properties.Settings>
    </applicationSettings>
</configuration>